.accordion {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .accordian-item {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .accordian-title {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordian-title h2 {
    margin: 0;
  }
  .accordian-title span {
    margin: 0;
  }
  
  .accordian-content {
    padding: 10px;
    background-color: #fafafa;
  }
  